
// .item {
//   list-style: none;
//   margin: 10px 23px;
//   padding: 8px;
//   box-shadow: 5px 5px 12px -5px #000,
//               - 5px -5px 12px -5px #ffffff;
//   height: 3em;
//   background-color: lightgreen;
//   cursor: pointer;
//   border-radius: 15px;
//   display: flex;
//   flex-direction: column;
//   span {
//     padding: 8px;
//     padding-left: 0px;
//   }
// }

.smain {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: lightgreen;
  opacity: 0;
}

nav {
  height: 50px;
  background-color: lightgreen;
}

.show {
  transition-property: opacity;
  transition-duration: 500ms;
  opacity: 1;
}
