<ul #list class="list">
  <li #item1 id="1" class="item" (click)="navigate(item1, 1)">
  item 1
  <span>This is test items</span>
  </li>
  <li #item2 id="2" class="item" (click)="navigate(item2, 2)">
  item 2
  <span>This is test items</span>
  </li>
  <li #item3 id="3" class="item" (click)="navigate(item3, 3)">
  item 3
  <span>This is test items</span>
  </li>
  <li #item4 id="4" class="item" (click)="navigate(item4, 4)">
  item 4
  <span>This is test items</span>
  </li>
  <li #item5 id="5" class="item" (click)="navigate(item5, 5)">
  item 5
  <span>This is test items</span>
  </li>
  <li #item6 id="6" class="item" (click)="navigate(item6, 6)">
  item 6
  <span>This is test items</span>
  </li>
  <li #item7 id="7" class="item" (click)="navigate(item7, 7)">
  item 7
  <span>This is test items</span>
  </li>
  <li #item8 id="8" class="item" (click)="navigate(item8, 8)">
  item 8
  <span>This is test items</span>
  </li>
  <li #item9 id="9" class="item" (click)="navigate(item9, 9)">
  item 9
  <span>This is test items</span>
  </li>
  <li #item10 id="10" class="item" (click)="navigate(item10, 10)">
  item 10
  <span>This is test items</span>
  </li>
</ul>
